 
 
 html,
 body {
   height: 100%;
 }

 body {
   color: $default;
   font-size: 16px;
   line-height: 26px;
   @extend %rubik-500;
   display: flex;
   flex-direction: column; 
 }

 body {
   color: $default;
   font-size: 16px;
   line-height: 30px;
 }


 .container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
 } 
  
 .container-big {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}