@import 'vars'; 
@import 'fonts';   
@import 'reset';   
@import 'slick';   
@import 'global';    
 
 
.header {
  padding: 50px 0 45px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 36px;
  }

  &__list-link {
    color: #436372;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__num {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: $white;
    color: $default;
    font-size: 10px;
    text-align: center;
    line-height: 17px;
    @extend %dmsans-400;
    position: absolute;
    top: 9px;
    left: 27px;
  }


  &__link--search {
    background: #edf1f4;
  }

  &__link--user {
    background: #a3bbc8;
  }

  &__like-vs-cart {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    width: 178px;
    background-color: #fcd7b6;
    border-radius: 22px;
    position: relative;

    .like-vs-car__border {
      width: 1px;
      height: 32px;
      background: #fde7d3;
      position: absolute;
      top: 9px;
    }
  }

} 
 
.footer {
  background: $white;

  .footer-top {
    padding: 80px 0 75px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #dae4e9;


    &__contact {
      width: 220px;
      margin-right: 80px; 
    }

    &__logo {
      display: block;
      margin-bottom: 30px;
    }

    &__adress,
    &__phone,
    &__email {
      display: block;
      margin-bottom: 20px;
      @extend %rubik-400;
      color: #7b7b7b;
    }

    &__services, 
    &__account { 
      width: 130px;  
      padding-top: 9px; 
      margin-right: 175px;
    }  
     
  
     
    &__link {
      @extend %rubik-400;
      font-size: 14px;
      color: $footer-text-color;
      // margin-bottom: 20px;
    } 
      
    &__item{ 
      margin-bottom: 9px;
    }

      &__title {
        @extend %dmsans-700; 
        font-size: 16px;
        color: $footer-title;
        margin-bottom: 25px; 
        text-transform: uppercase;
      }
        
      &__item-form{ 
        padding-top: 9px;   
        width:275px;
       
      } 

      &__text{ 
        @extend %rubik-400; 
        font-size: 14px; 
        line-height: 24px; 
        color: $footer-text-color; 
        margin-bottom: 40px;
      }  
       
       &__form{ 
         display: flex;
       } 

     &__form-input{ 
       max-width: 170px; 
       background: #fef7f0; 
       border: none; 
       padding: 15px 16px; 
      
      &::placeholder { 
        @extend %dmsans-400; 
        color: #234969; 
        font-size: 14px;
      }
     } 
      
     &__form-btn{ 
      width: 100px; 
      padding: 14px 19px 14px 15px; 
      background-color: $accent; 
      color: $white;
     } 

  } 
  
   .footer-bottom{ 
    padding: 37px 0 40px;  
    display: flex; 
    justify-content: space-between;
      
    &__copy{  
      @extend %rubik-400; 
      font-size: 14px; 
      line-height: 32px; 
      color: $footer-text-color;
    }   
     
    &__menu{ 
      border: 1px solid transparent; 
      display: flex;  
      align-items: center;
    }
      
    &__menu-list{  
      display: flex;  
      align-items: center;
      border: 1px solid transparent; 
    } 
      
    &__menu-item{ 
      padding: 0 15px;  
      height: 15px; 
      border-right: 1px solid $footer-text-color;   
      display: flex;  
      align-items: center; 
    }  

    &__menu-item--special{ 
      padding: 0 0 0 15px; 
      border-right: none;
    }   

    &__menu-link{ 
      @extend %rubik-400; 
      font-size: 14px; 
      line-height: 32px;  
      display:inline-block;
      color: $footer-text-color;
    }

   }
    
 
} 
 
.top-slider{ 
  background-color:#fcd7b6; 
  background-image: url('../images/top-slider-bg.jpg');  
  background-repeat: no-repeat; 
  background-size: cover; 
  
  &__slider{ 
    border: 1px solid transparent;
   } 

 &__inner{ 
  display: flex !important; 
  align-items: flex-end; 
  justify-content: space-between;  
  padding: 225px 0 199px; 
  border: 1px solid transparent;
 }  
  
 &__title{ 
   max-width: 415px; 
   font-size: 72px; 
   line-height: 70px; 
   margin-bottom: 45px;
 }
 
 &__text{  
   max-width: 370px; 
   @extend %rubik-400; 
   font-size: 18px; 
   line-height: 30px; 
   color: #436372; 
   margin-bottom: 45px;
 }  
  
 &__link{ 
  padding: 25px 19px 20px 27px;    
  position: relative;
  color: $white;  
  font-size: 15px; 
  line-height: 12px;
  background-color: $accent;  
  display: inline-block;
  width: 200px;  
 }  
  
 &__link-arrow{ 
  position: absolute; 
  top: 25px; 
  right: 19px;
 }
  
 &__img{ 
  height: 263px;
 }  
  
 .slick-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;

  li {
    padding: 0 7px;

    button {
      background-color: $white;
      opacity: 0.3; 
      width: 30px; 
      height: 30px; 
      border-radius: 50%; 
      padding-bottom: 7px;
      border: 1px solid transparent; 
      color: $default;
    }
  } 
    
  .slick-active{ 
    button { 
      opacity: 1;
    }
  }
}    
 

} 
 
.benefits{   
  background-color: $benefits-section-color; 
  
  &__items{  
    display: flex;  
    justify-content: center;
  } 

  &__item{ 
    max-width:570px; 
    padding: 47px 147px 45px 223px;   
    position: relative;
    border:1px solid transparent;
  } 
  
  &__item--bordered{ 
    border-left: 1px solid #e8e4df; 
    border-right: 1px solid #e8e4df;
  }

  &__item-title{ 
    @extend %dmsans-700; 
    font-size: 18px; 
    line-height: 40px; 
    color: $benefits-title-color;
  } 
    
  &__item-img{ 
    position:absolute; 
    top:30%; 
    left:25%; 
  } 
   
  &__item-img-bordered{ 
    position:absolute; 
    top:36%; 
    left:25%; 
  }

  &__item-text{   
    @extend %dmsans-400;
    color: $benefits-text-color; 
    font-size: 16px; 
    line-height: 30px; 
    width: 217px;
  }

}


 
  

 



@import 'media';  

